<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/cart.css" />
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script defer src="/scripts/cartScript.js"></script>
<div id="confirmation">
  <div id="closeConfirmation">&#x2715;</div>
  <div id="confirmationThanks">Thank you for your purchase!</div>
  <div id="confirmationText">
    You will receive an email confirmation shortly.
  </div>
  <a href="/api/v1/" id="confirmCloseBtn">Continue Shopping</a>
</div>
<div id="totalItems">
  <% if (!currentUser) {%>
  <div>Please sign in to purchase.</div>
  <% } else {%>
  <div>There are <%=cart.products.length%> item(s) in your cart.</div>
  <% } %>
</div>

<% if (currentUser) {%>
<div id="main">
  <div id="cartItems">
    <% if (cart.products.length > 0){%> <% for (let item of cart.products) {%>
    <div class="item">
      <div class="card">
        <div class="title"><%=item.product.title%></div>
        <a href="/api/v1/crafts/<%=item.product._id%>"
          ><img src="<%=item.product.image%>"
        /></a>
      </div>
      <form action="/api/v1/cart/<%=item._id%>/?_method=DELETE" method="POST">
        <button>Remove</button>
      </form>
      <form action="/api/v1/cart/?_method=PUT" method="POST">
        <input type="hidden" name="craftId" value="<%=item.product._id%>" />
        <select class="selector" name="quantity" id="quantity">
          <% for (let i = 1; i <= item.product.stock ; i ++) {%> <% if(i ===
          item.quantity) {%>
          <option value="<%=i%>" selected="selected"><%=i%></option>
          <% } else{%>
          <option value="<%=i%>"><%=i%></option>
          <% } %> <% } %>
        </select>
        <button class="updatebtn" hidden>Update</button>
      </form>
      <div class="price">
        <span class="totalPrice"
          >$<%=(item.product.price*item.quantity).toFixed(2)%></span
        >
        <span>($<%=item.product.price.toFixed(2)%> each)</span>
      </div>
    </div>
    <%}%>
  </div>
  <div id="checkOut">
    <span>How Will You Pay?</span>
    <form action="/api/v1/cart/checkout?_method=DELETE" method="POST">
      <div>
        <input type="radio" id="cards" name="payment" checked />
        <label for="cards"
          ><img src="/images/visa.png" /><img
            src="/images/mastercard.png"
          /><img src="/images/amex.png" />
          <img src="/images/discover.png" />
        </label>
      </div>
      <div>
        <input type="radio" id="paypal" name="payment" />
        <label for="paypal"><img src="/images/paypal.png" /></label>
      </div>
      <div>
        <input type="radio" id="klarna" name="payment" />
        <label for="klarna"><img src="/images/klarna.png" /></label>
      </div>
      <div id="total">
        <span>Item(s) total</span>
        <span>$<%=grandTotal.toFixed(2)%></span>
      </div>
      <button id="purchaseBtn" type="button">Purchase!</button>
    </form>
  </div>
</div>
<% } %> <% } %>
