<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <nav id="navibar">
      <a href="/api/v1/crafts">LifeCraft</a>
      <form action="">
        <input type="text" placeholder="Discover life's inspirations..." />
        <button><img src="/images/search-icon.png" /></button>
      </form>
      <div>
        <img src="/images/shop-icon.png" />
        <img src="/images/bell-icon.png" />
      </div>
    </nav>
    <div id="product">
      <div id="img-review">
        <div>
          <img src="<%=craft.image%>" />
        </div>
      </div>
      <div id="seller-dets">
        <form action="/api/v1/crafts/<%=craft._id%>?_method=PUT" method="POST">
          <label for="title">Title:</label>
          <input
            type="text"
            name="title"
            id="title"
            value="<%=craft.title %>"
          />
          <label for="price">Price:</label>
          <input
            type="number"
            name="price"
            id="price"
            value="<%=craft.price%>"
          />
          <label for="stock">Stock:</label>
          <input
            type="number"
            name="stock"
            id="stock"
            value="<%=craft.stock%>"
          />
          <label for="description">Description:</label>
          <textarea name="description" id="description" cols="30" rows="10">
<%=craft.description%></textarea
          >
          <button>&#x2714;</button>
        </form>
      </div>
    </div>
  </body>
</html>
