<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/edit.css" />
<script defer src="/scripts/editScript.js"></script>
<div id="product">
  <div id="img">
    <img src="<%=craft.image%>" />
  </div>
  <div id="editForm">
    <form action="/api/v1/crafts/<%=craft._id%>?_method=PUT" method="POST">
      <div class="editable">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="<%=craft.title %>" />
      </div>
      <div class="editable">
        <label for="category-select">Category:</label>
        <select name="category" id="category-select">
          <% for (let category of craftSchema.obj.category.enum) {%> <%
          if(category === craft.category) {%>
          <option value="<%=category%>" selected="selected">
            <%=category%>
          </option>
          <% }else{ %>
          <option value="<%=category%>"><%=category%></option>
          <% } %> <% } %>
        </select>
      </div>
      <div class="editable">
        <label for="image">Image:</label>
        <input type="text" name="image" id="image" value="<%=craft.image%>" />
      </div>
      <div class="editable">
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" value="<%=craft.price%>" />
      </div>
      <div class="editable">
        <label for="stock">Stock:</label>
        <input type="number" name="stock" id="stock" value="<%=craft.stock%>" />
      </div>
      <div class="editable">
        <label for="description">Description:</label>
        <textarea name="description" id="description" cols="75" rows="10">
<%=craft.description%></textarea
        >
      </div>
      <button id="saveButton">Save Craft</button>
    </form>
    <form action="/api/v1/crafts/<%=craft._id%>">
      <button id="backButton">Back</button>
    </form>
  </div>
</div>
