<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/index.css" />
<div id="query">
  <% if (title){ %>
  <div>Your search for "<%=title%>"</div>
  <% } else{%>
  <div>Find something you love</div>
  <% } %>
</div>
<div id="main">
  <div id="results">
    <% if(crafts.length === 0){ %>
    <div>Nothing found.</div>
    <% } %> <% for (craft of crafts) {%>
    <div class="card">
      <a href="/api/v1/crafts/<%=craft._id%>"><img src="<%=craft.image%>" /></a
      ><span class="price">$<%=craft.price.toFixed(2)%></span>
      <span class="title"><%=craft.title%></span>
    </div>
    <% } %>
  </div>
  <div id="filter">
    <div>Filter Crafts</div>
    <fieldset>
      <legend>Category</legend>
      <% for (let category of craftSchema.obj.category.enum) {%>
      <a href="/api/v1/crafts/filter?category=<%=category%>"
        ><%=category.charAt(0).toUpperCase() + category.slice(1)%></a
      >
      <% } %>
    </fieldset>
    <fieldset>
      <legend>Price</legend>
      <a href="/api/v1/crafts/filter?price=lt5">Under $5</a>
      <a href="/api/v1/crafts/filter?price=min5max50">$5 to $50</a>
      <a href="/api/v1/crafts/filter?price=gt50">Over $50</a>
    </fieldset>
  </div>
</div>
