<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/sellerIndex.css" />
<div id="seller-dashboard">
  <div id="display">
    <form action="/api/v1/seller/crafts">
      <input
        type="search"
        name="title"
        placeholder="Browse your life's work..."
      />
      <button><span class="material-symbols-outlined"> search </span></button>
    </form>
    <div id="cards">
      <%for (let craft of crafts){%>
      <div class="card">
        <a href="/api/v1/crafts/<%=craft._id%>"
          ><img src="<%=craft.image%>" /></a
        ><span class="price">$<%=craft.price.toFixed(2)%></span>
        <span class="title"><%=craft.title%></span>
      </div>
      <% } %>
    </div>
  </div>
  <div id="controls">
    <div id="storeName"><%=currentUser.username %></div>
    <div id="storeStat">725 Sales/&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
    <form action="/api/v1/seller/crafts/new">
      <button id="new">New Craft</button>
    </form>
    <div id="filter">
      <div>Filter Crafts</div>
      <fieldset>
        <legend>Category</legend>
        <% for (let category of craftSchema.obj.category.enum) {%>
        <a href="/api/v1/seller/crafts/filter?category=<%=category%>"
          ><%=category.charAt(0).toUpperCase() + category.slice(1)%></a
        >
        <% } %>
      </fieldset>
      <fieldset>
        <legend>Price</legend>
        <a href="/api/v1/seller/crafts/filter?price=lt5">Under $5</a>
        <a href="/api/v1/seller/crafts/filter?price=min5max50">$5 to $50</a>
        <a href="/api/v1/seller/crafts/filter?price=gt50">Over $50</a>
      </fieldset>
    </div>
  </div>
</div>
