<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/show.css" />
<div id="product">
  <div id="img-review">
    <div>
      <img src="<%=craft.image%>" />
      <div id="reviews">Reviews</div>
      <div class="review">For all the awesome comments here eventually!</div>
    </div>
  </div>
  <div id="details">
    <div id="productTitle">
      <%=craft.title %> <% if (currentUser && currentUser.seller === true){ %>
      <div id="sellerBtns">
        <form action="/api/v1/crafts/<%=craft._id%>/edit" method="GET">
          <button>Edit Craft</button>
        </form>
        <form
          action="/api/v1/crafts/<%=craft._id%>/?_method=DELETE"
          method="POST"
        >
          <button>Delist Craft</button>
        </form>
      </div>
      <% } %>
    </div>
    <div class="price">$ <%=craft.price.toFixed(2)%></div>
    <% if (craft.stock > 0) {%>
    <div id="shoppingButtons">
      <div id="qtySelect">
        <form action="/api/v1/cart/?_method=PUT" method="POST">
          <label for="quantity">Quantity</label>
          <br />
          <select name="quantity" id="quantity">
            <% for (let i = 1; i <= craft.stock ; i ++) {%>
            <option value="<%=i%>"><%=i%></option>
            <% } %>
          </select>
          <input type="hidden" name="craftId" value="<%=craft._id%>" />
          <button id="addCartButton">Add to Cart</button>
        </form>
      </div>
      <button id="buyButton">Buy Now | <%=craft.stock%> in stock</button>
    </div>
    <% } else {%>
    <div id="OOS">Out Of Stock!</div>
    <% } %>
    <div id="shipping">
      <div>
        <span>Shipping Fee: </span><span class="shippingText">Free!</span>
      </div>
      <div>
        <span>Shipping Arrival:</span
        ><span class="shippingText"> 7-10 days</span>
      </div>
    </div>
    <div id="description">
      <div>Description</div>
      <div class="descriptionText"><%=craft.description%></div>
    </div>
  </div>
</div>
