<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Fredericka+the+Great&family=Source+Serif+4:opsz@8..60&display=swap');
      </style>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <nav id="navibar">
      <a href="/api/v1/crafts" id="logo">LifeCraft</a>
      <form action="">
        <input type="text" placeholder="Discover life's inspirations..." />
        <button><img src="/images/search-icon.png" /></button>
      </form>
      <div>
        <img src="/images/shop-icon.png" />
        <img src="/images/bell-icon.png" />
      </div>
    </nav>
    <div id="product">
      <div id="img-review">
        <div>
          <img src="<%=craft.image%>" />
        </div>
      </div>
      <div id="seller-dets">
        <h1><%=craft.title %></h1>
          <form
          action="/api/v1/crafts/<%=craft._id%>/edit"
          method="GET"
        >
          <button>Edit Craft</button>
        <form
          action="/api/v1/crafts/<%=craft._id%>/?_method=DELETE"
          method="POST"
        >
          <button>Delist Craft</button>
        </form>
        <div>$<%=craft.price%></div>
        <% if (craft.stock > 0) {%> <%=craft.stock%> in stock
        <div>
          <label for="qty-select">Quantity:</label>
          <select name="qty-select" id="qty-select">
            <% for (let i = 1; i <= craft.stock ; i ++) {%>
            <option value="<%= i %> "><%= i %></option>
            <% } %>
          </select>
        </div>
        <button>Buy Now</button>
        <button>Add to Cart</button>
        <% } else {%>
        <div>Out Of Stock!</div>
        <% } %>
        <div><%=craft.description%></div>
      </div>
    </div>
  </body>
</html>
